:root{

    --green: #7968EF;
    --green-primerry: #F0EDFF;
    --black :#000;
    --heading : 48px;
    --subheading :24px;
    --sectiongap : 130px;
    --white :#fff;
    --opensence:'Open Sans', sans-serif;
    --graycolour:#C5C5C5;
    --perafontsize:18px
    --semibold:600px;
    --padding:10px 15px;
    --margin: 0 10px;
   
    



}



